/*
  Variables
*/
$tablet-width: 480px;
$desktop-width: 768px;
//$desktop-width: 1165px;

$mobile-vertical-spacing: 5rem;
$vertical-spacing: 7rem;
$left-of-center-size:40%;
$right-of-center-size:60%;
$half-center-spacing: 3rem;

/*
  Responsiveness
*/
@mixin tablet {
  @media (min-width: $tablet-width) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}



/*
  layout helpers
*/
@mixin gridarea($area-map) {
  grid-row-start: map-get($area-map, rowstart);
  grid-row-end: map-get($area-map, rowend);
  grid-column-start: map-get($area-map, colstart);
  grid-column-end: map-get($area-map, colend);
}

@mixin flex-column {
  display: flex;
  flex-flow: column nowrap;
}

@mixin flex-row {
  display: flex;
  flex-flow: row nowrap;
}

@mixin flex-centered {
  align-items: center;
  justify-content: center;
}

@mixin flex-right-centered {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  justify-content: center;
}

@mixin flex-left-centered {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
}




/*
  Typography
*/
@mixin font($font-family, $font-file) {
  @font-face {
    font-family: $font-family;
    src: url($font-file) format('truetype');
    font-weight: normal;
    font-style: normal;
  }
}

@mixin navbar-text {
  font: {
    family: "Roboto", sans-serif;
    size: 1rem;
    weight: 200;
  }
}

@mixin title-text {
  font: {
    family: "cocogoose-semilight", sans-serif;
    size: 3rem; 
  }
  @include desktop(){
    font: {
      family: "cocogoose-semilight", sans-serif;
      size: 4rem; 
    }

  }
}

@mixin subtitle-text {
}

@mixin heading1-text {
  font: {
    family: "Roboto", sans-serif;
    size: 3rem;
    weight: 500;
  }
}

@mixin heading2-text {
  font: {
    family: "Roboto", sans-serif;
    size: 1.2rem;
    weight: 700;
  }
}

@mixin heading3-text {
  font: {
    family: "Roboto", sans-serif;
    size: 1rem;
    weight: 300;
  }
}

@mixin body-text {
  font: {
    size: 1rem;
    weight: 500;
    family: "Open Sans", sans-serif;
  }
}